*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
#top-banner{
    background: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.width-half{
    width: 50%;
}

.width-half img{
    width: 100%;
}
.sencon-width{
    width: 45%;
    margin-left: 60px;
}
h1{
    font-size: 50px;
    margin: 30px 0;
}
h2{
    margin: 30px 0;
    font-size: 35px;
}
h3{
    font-size: 35px;
    padding-bottom: 15px;
}
h5{
    font-size: 20px;
    color: #941b0b;
}

p{
    margin: 20px 0;
    color: dimgray;
}
.width-half  span{
    color: #FA6B58;
}
.btn{
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(orange, #FA6B58);
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}
#big-dream{
    background: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
#ecperiences{
    padding: 70px 0;
    background: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: 70%;

}
.full-stack-dev, .web-dev{
    width: 45%;
}
.full-stack-dev{
    box-shadow: 10px 10px 40px rgb(46, 44, 44);
    padding: 15px;
    border-radius: 10px;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
    border-left: 7px solid;

}
.web-dev{
    margin-left: 10%;
    box-shadow: 10px 10px 40px rgb(46, 44, 44);
    padding: 15px;
    border-radius: 10px;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-left: 7px solid;
}